body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.traffic-light {
  width: auto;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.light {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}

.red {
  background-color: red;
  animation: mo1 8s infinite;
}

.yellow {
  background-color: yellow;
  animation: mo2 8s infinite;
}

.green {
  background-color: green;
  animation: mo3 8s infinite;
}
@keyframes mo1{
  0%{
    opacity: 20%;
  }
  62.5%{
    opacity: 20%;
  }
  62.6%{
    opacity: 100%;
  }
  100%{
    opacity: 100%;
  }
}
@keyframes mo2 {
  0%{
    opacity: 20%;
  }
  50%{
    opacity: 20%;
  }
  51%,62.5%{
    opacity: 100%;
  }
  62.6%,100%{
    opacity: 20%;
  }
}
@keyframes mo3 {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  51%{
    opacity: 20%;
  }
  100%{
    opacity: 20%;
  }
}